body {
	background-color: #EEEEEE;
	color: #232323;
	font: 14px Helvetica, Arial, sans-serif;
	line-height: 1.5em;
}

.filter {
	display:block;
	color: #EEEEEE;
	background-color: #232323;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	overflow: auto;
	padding: 10px 20px 10px 20px;
}
.default-values, .recommended-values {
	float: left;	
	display: block;
	margin-right: 50px;

}
h2 {
	clear: both;	
}
h3 {
	color: #FFFFFF;
	font-size: 14px;
	margin-bottom: 5px;
}
#wrapper {
	width: 580px;
	margin: 0 auto;
}